
header img{
	border-radius: 50%;
}

header img, h1{
	display: inline-block;
	vertical-align: top;
}

nav.menu-nav ul li.btn {
	list-style-type: none;
	display: inline-block;
}

nav.menu-nav ul li.btn a{
	color: white;
	background-color: red;
	text-decoration: none;
	padding: 10px;
}
nav.menu-nav ul li.btn:hover a{
	color: red;
	background-color: white;
	transition: 0.3s all;
}

div#content div{
	display: inline-block;
	width: 48%;
}

div#content div h1, p, iframe{
	margin: 35px;
}

div#content div.leftbox{
	background-color: yellow;
	vertical-align: top;
}

div#content div.rightbox{
	background-color: green;
	vertical-align: top;
}

body {
	background-color: #777;
}